.menu {
  width: 100%;
  height: 64px;
  background-color: #ffffff;
  padding: 19px 174px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}

.bellotero {
  width: 133px;
  height: 26px;
  object-fit: contain;
  margin-right: auto;
}
ul {
  display: flex;
}

@media only screen and (max-width: 800px) {
  .menu {
    padding: 19px 25px;
  }
}
@media only screen and (max-width: 600px) {
  .menu {
    padding: 19px 8px;
  }
  .bellotero {
    width: 100px;
  }
}
