.menu {
  width: 100%;
  height: 64px;
  background-color: #ffffff;
  padding: 19px 174px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}

.bellotero {
  width: 133px;
  height: 26px;
  object-fit: contain;
  margin-right: auto;
}
ul {
  display: flex;
}
