.calculator-form {
  padding: 0 45px;
}

.form-block {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

input {
  width: 4rem;
  text-align: center;
  color: gray;
  outline: none;
}

span {
  width: 6rem;
  text-align: center;
  color: var(--bg-primary);
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .calculator-form {
    padding: 0 15px;
  }
}

@media only screen and (max-width: 450px) {
  .form-block {
    flex-direction: column;
    align-items: flex-start;
  }
  input {
    margin-top: 0.5rem;
  }
  span {
    text-align: left;
  }
}
