:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
}

body {
  font-size: 16px;
  font-family: 'Open Sans';
  color: black;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
}
