.slider {
}

.slider-title {
  width: 389px;
  height: 56px;
  background: var(--bg-primary);
  font-family: Roboto;
  padding: 8px 4px;
  font-size: 36px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: 0.77px;
  color: #ffffff;

  margin: 120px 879px 80px 172px;
}

.arrow-buttons {
  position: absolute;
  display: flex;
  margin: -28px 188px 0 1019px;
}

.current {
  width: 120px;
  height: 56px;
  background-color: #071eb3;
  font-family: CormorantGaramond;
  font-size: 32px;
  font-weight: 600;
  font-stretch: normal;
  font-style: italic;
  line-height: 1;
  letter-spacing: 0.69px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1px;
}

.arr-btn {
  background: var(--bg-primary);
  color: white;
  font-size: 2rem;
  border: none;
  overflow: hidden;
  outline: none;
  width: 56px;
  height: 56px;
  transition: 1s;
  border: 1px solid var(--bg-primary);
}

button.arr-btn:hover {
  cursor: pointer;
  background: white;

  color: var(--bg-primary);
}

@media only screen and (max-width: 600px) {
  .slider-overlay {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 450px) {
  .slider-container {
    width: 20rem;
  }
  .slider-title {
    font-size: 1.7rem;
  }
}
